name: Typescript Integration Tests

on:
  workflow_dispatch:

jobs:
  test:
    name: Test Typescript ${{ matrix.python-version }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node-version: ['24.x']

    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Run Integration Tests
        uses: ./.github/actions/typescript/integration-tests
        with:
          node-version: ${{ matrix.python-version }}
          otel-prod-token: ${{ secrets.OTEL_PROD_TOKEN }}
          otel-prod-endpoint: ${{ secrets.OTEL_PROD_ENDPOINT }}

  test-all:
    name: All tests passed
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: All tests passed
        run: echo "All integration tests passed successfully!"